[type="button"]{
    width: 200px; height: 50px;
    background-color: tomato; color: white; font-size: 25px;
    border: none; border-radius: 8px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 50px; height: 50px;
    background-color: blue; color: white;
}

/* n번째 요소 스타일을 지정 */
.box:nth-child(3){   /*2n-1 과 같이 수식으로 가능 */
    background-color: red;
}

/* 마우스를 올렸을 때*/
[type="button"]:hover{
    background-color: gray;
}

/* 마우스 클릭 때*/
[type="button"]:active{
    background-color: black;
}

/* 선택 됐을 때*/
[type="text"]:focus{
    background-color: red;
}

/* 비활성화 때*/
[id="dis_text"]:disabled{
    height: 100px;
}

p::first-line{
    color:red;
}

p::first-letter{
    color:blueviolet;
}

li::marker{
    color:green;
    font-size: 20px;
}

input::placeholder{
    font-size: 20px;
    color: purple;
}

[id="ba_test"]::before{
    content: "앞에 추가한 텍스트 > ";
    color:purple;
}

[id="ba_test"]::after{
    content: "< 뒤에 추가한 텍스트";
    color:blue;
}